@model WebApplication2.Models.UserDashBoardViewModel
@{
    ViewBag.Title = "UserDashBoard";
    Layout = "../Shared/_LayoutManager.cshtml";
}
<style>
    .col-md-10 {
        font-weight: bold;
    }
</style>
<fieldset>
    <legend> User DashBoard </legend>

    @if (Session["UserName"] != null)
    {
        <label>
            Welcome <u>@Session["UserName"].ToString()</u>
        </label>
    }
    <div class="container">
        <div class="row">
            <div class="form-group row">
                <div class="col-md-2">
                    Name
                </div>
                <div class="col-md-10">
                    @Model.Name
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Store
                </div>
                <div class="col-md-10">
                    @Model.Store.Name
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Role
                </div>
                <div class="col-md-10">
                    @Model.Role.Name
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Date of Birth
                </div>
                <div class="col-md-10">
                    @Model.DoB.ToString("dd MMM yyyy")
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Gender
                </div>
                <div class="col-md-10">
                    @Model.Gender
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Address
                </div>
                <div class="col-md-10">
                    @Model.Address
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phone
                </div>
                <div class="col-md-10">
                    @Model.Phone
                </div>
            </div>
        </div>
    </div>
</fieldset>