@model WebApplication2.Models.ShopingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

@using (Html.BeginForm("Payment", "CheckOut", FormMethod.Post,
                                                       new
                                                       {
                                                           @class = "form-horizontal",
                                                           role = "form",
                                                           id = "checkout-form",
                                                           enctype = "multipart/form-data"
                                                       }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CartTotal)
    <div class="container">
        <h3>
            <em>Review</em> your cart:
        </h3>
        <div id="update-message">
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"
                                            onclick="window.location.href = '@Url.Action("Index", "Store")'">
                                        <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.CartItems)
                    {
                        <div class="row">
                            <div class="col-xs-2">
                                <img class="img-responsive" src="images/product/iphone-7-plus-128gb-600-277-1-400x400.jpg"/>
                            </div>
                            <div class="col-xs-4">
                                <h4 class="product-name">
                                    <strong>
                                        @Html.ActionLink(item.Product.Name, "Details", "Store", new {id = item.Product.Id}, null)
                                    </strong>
                                </h4><h4><small>@item.Product.Brand1.Name</small></h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6 text-right">
                                    <h6><strong>$ @item.Product.Price <span class="text-muted">x</span></strong></h6>
                                </div>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control input-sm" id="cart-quantity" value="@item.Count"/>
                                </div>
                                <div class="col-xs-2">
                                    <a href="#" class="RemoveLink" data-id="@item.Id">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-xs-9">
                                <h4 class="text-right">Total <strong>$</strong><strong id="cart-total">@Model.CartTotal</strong></h4>
                            </div>
                            <div class="col-xs-3">
                                <button type="submit" class="btn btn-success btn-block" id="check-out-btn">
                                    Checkout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Customer Information</div>
                    <div class="panel-body">
                        <div style="padding: 0.5em">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, new { @class = "col-2 col-form-label" })
                                <div class="col-10">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter your name", required = "required" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Email, new { @class = "col-2 col-form-label" })
                                <div class="col-10">
                                    @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", @placeholder = "Enter your email", required = "required" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Address, new { @class = "col-2 col-form-label" })
                                <div class="col-10">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter your address/shipping address", required = "required" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Phone, new { @class = "col-2 col-form-label" })
                                <div class="col-10">
                                    @Html.TextBoxFor(model => model.Phone, new {@class = "form-control", @placeholder = "Enter your phone number" })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Gender, new { @class = "col-2 col-form-label" })
                                <div>
                                    @Html.Label("Male")
                                    @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "radio-inline", @checked = true })
                                </div>
                                <div>
                                    @Html.Label("Female")
                                    @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "radio-inline" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    h6 > strong {
        float: left;
        font-size: 14px;
        color: #c10017;
        margin: 0 9px 5px;
    }

    h4 > strong {
        font-size: 14px;
        color: #c10017;
        margin: 0 9px 5px;
    }
</style>

@section scripts{
    <script type="text/javascript">
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            var current = $(this);
            if (recordToDelete != '') {

                // Perform the ajax post
                var formData = {
                    id: recordToDelete
                }
                $.ajax({
                    url: '@Url.Action("RemoveFromCart", "ShoppingCart")',
                    data: JSON.stringify(formData),
                    method: "POST",
                    contentType: "application/json; character-utf-8",
                    dataType: "json",
                    success: function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount === 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            current.closest('.row').remove();
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                        $('#cart-quantity').val(data.CartCount);
                    },
                    error: function (resp) {
                        return false;
                    }
                });

            }
        });

        function handleUpdate() {
            // Load and deserialize the returned JSON data
            var json = context.get_data();
            var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

            // Update the page elements
            if (data.ItemCount == 0) {
                $('#row-' + data.DeleteId).fadeOut('slow');
            } else {
                $('#item-count-' + data.DeleteId).text(data.ItemCount);
            }

            $('#cart-total').text(data.CartTotal);
            $('#update-message').text(data.Message);
            $('#cart-status').text('Cart (' + data.CartCount + ')');
        }
    </script>
}